@import '../../assets/styles/shared';

.collection-card-selected{
    border: 3px solid $darker-grey;
    border-radius: $border-radius-standard;
    height: 333px;
}

.collections{
    height: 600px;
    overflow-y: scroll;
    overflow-x: hidden;
    cursor: pointer;
}