@import '../../../assets/styles/shared';

.login-page{
    background-image: url('../../../assets/svgs/blob.svg');
    background-repeat: no-repeat;
    background-position: $background-position-desktop;
    background-size: cover;
    height: 100%;
    background-color: $light-grey;
    margin: 0 auto;
    
    &-body{
        height: 100%;
    }

    &-graphics{
        margin-left: 35rem;
    }


}