@import '../../../assets/styles/shared';

.login-page{
    height: 100%;
    padding: 0px 200px;


    
    &-body{
        height: 100%;
    }

    &-graphics{
        margin-left: 20rem;

        &-text{
            margin-top: 1rem;
        }
    }


}