@import '../../../assets/styles/shared';

.login-page{
    height: 100%;

    
    &-body{
        height: 100%;
    }

    &-graphics{
        margin-left: 20rem;


        img{
            // //background-color: rgba(#fff,0.5);
            // border-radius: $border-radius-rounder;
            // padding: 3rem;
            // z-index: 10;
            // //width: 550px;
            // //margin-bottom: -250px !important;
            display: none;
        }

        &-text{
            
            padding: 3rem;
            border-radius: $border-radius-rounder;
            text-align: end !important;
            //position: fixed !important;
            top: 10% !important;
            right: 5%;
            margin-top: 1rem;
            z-index: 100;
            width: 700px;
            font-size: 7rem !important;
            //background: -webkit-linear-gradient(87deg, rgba(255,211,117,1) 0%, rgba(254,183,128,1) 50%, rgba(251,140,140,1) 99%);
            //background: -webkit-linear-gradient(87deg, rgba(177,189,162,1) 0%, rgba(41,71,74,1) 99%);
            background: -webkit-linear-gradient(87deg, rgba(41,71,74,1) 0%, rgba(177,189,162,1) 99%);


            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
    }

    &-graphics-text{
        //color: #2f2e41 !important;
        color: $accent !important;
        margin-top: 2rem
    }

    // .login-page-form{
    //     background-color: red;
    //     width: 100%;
    //     height: 100%;
    // }

}

@media (max-height: $media-breakpoint-height-900px) {
    .login-page-graphics{
        
        img{
            width:600px;
        }

    }
}

@media (max-height: $media-breakpoint-height-835px) {
    .login-page-graphics{
        
        img{
            width:550px;
        }

    }
}




@media (max-width: $media-breakpoint-width-laptop) {
    .login-page-graphics {
        margin-left:0 ;

        &-text{
            width: 500px;
            font-size: 6rem !important;
        }
    }
}

@media (max-width: $media-breakpoint-width-tablet-large) {
    .login-page-graphics {
        margin-left:0 ;
        img{
            width: 550px;
        }

        &-text{
            width: 500px;
        }
    }
}
 
@media (max-width: $media-breakpoint-width-tablet-medium) {
    .login-page-graphics {
        display:none;
    }

}

@media (max-width: $media-breakpoint-width-phone-medium){
        .login-page{
            background-color: white;
            &-form{
            width: 100%;
            height: 100%;
        }
    }
}
