@import '../../../assets/styles/shared';


.register-component{
    margin-left: 3rem;
    
}

@media (max-height: $media-breakpoint-height-750px) {
    .register-component{
        // &-logo{
        //     display:none;
        // }
    }
}

@media (max-width: $media-breakpoint-width-tablet-large) {
    .register-component{
        margin-left: 0px;
    }
}

@media (max-width: $media-breakpoint-width-phone-medium){
    .register-component{
        box-shadow: none!important;

        &-logo{
            img{
                width:120px;
                height:120px;
            }
        }

        &-cta{
        }
    }    
}

@media (max-height: $media-breakpoint-height-500px){
    .register-component{
        
        &-bottom-link{
            margin-top: 0rem !important;
            margin-bottom: -2rem !important;
        }
    }
    
}