@import '../../assets/styles/shared';

.meal-form{
}

.meal-switcher{
    margin-top: 5rem !important;
    width: 95% !important;
    background-color:white !important;
    box-shadow: $box-shadow-light !important;
}

.save-user-info-modal{
    img{
        height:200px;
        width: 300px;
        margin-bottom: 2rem;
    }

    &-buttons{
        margin-top: 2rem;
        width: 100%;
    }
}

@media (max-width: $media-breakpoint-width-phone-large){
    .save-user-info-modal{
        width: 200px;
    }

    .meal-switcher{
        width: 800px!important;
    }

    .meal-form{
        box-shadow: none !important;
        margin-top: -1rem !important;
        padding-top: 0rem !important;

        &-graphics{
            margin-bottom: 0rem !important;
        }
    }
}

@media(max-width: $media-breakpoint-width-phone-medium){

}

@media (max-height: $media-phone-height-s){
  .meal-form-graphics{
        margin-top: 6rem;
        div{
            font-size: 2rem;
        }
    }

}

@media (max-height: $media-phone-height-xxs){
    .meal-form-graphics{
        margin-top: 10rem;
    }

}