@import '../../assets/styles/shared';

.meal-form{
}

.meal-switcher{
    margin-top: 5rem !important;
    width: 70% !important;
    background-color:white !important;
    box-shadow: $box-shadow-light !important;
}