@import '../../assets/styles/shared';

.meal-modal{
    width: 100%;
    border-radius: $border-radius-rounder;

    &-left{
        margin-top: -50px;
        margin-bottom: -50px;
        margin-left: -50px;
        background-color: #f7f8fa;
        border-radius: $border-radius-rounder;

        &-image{
            padding: 2rem;
        }

        img{
            width: 300px;
            border-radius: $border-radius-rounder;
        }
    }

    &-right{
        overflow-y: scroll;
        height: 640px;

        margin-left: 2rem;

        &-title{
            margin-bottom: 2rem;
        }

        &-description{
            margin-bottom: 2rem;
        }

        &-instructions{
            margin-bottom: 2rem;
        }

        &-ingredients{
            margin-bottom: 2rem;

        }

        &-ingredient{
            margin-bottom: 0.3rem;
            margin-left: 1rem;
        }

        &-nutrition{
            margin-bottom: 2rem;
        }

        &-nutrition-info{
            margin-bottom: 0.3rem;
            margin-left: 1rem;
        }

    }

}

.meal-save{
    width: 100%;
    display: flex;
    justify-content: center;
    &-button{
        margin-top: 2rem;
        width: 50%;
        background-color: rgba(0, 0, 0, 0) !important;
        transition: 0.3s;
    }
}

.meal-save-button:hover{
    background-color:$accent !important;
    color: white !important;
}


@media (max-width: $media-breakpoint-width-tablet-small){
    .modal{
    }

    .meal-modal{
        flex-direction: column !important;
        align-items: center;
        justify-content: flex-start;
        width: 400px;
        height: 500px;
        overflow-y: scroll;

        &-left{
            margin-bottom: 2rem;
            margin-left: 0px;
            width: 100%;
            align-items: center;
            justify-content: center;
        }

        &-right{
            overflow-y: hidden;
        }
    }
}