@import '../../assets/styles/shared';


.home-container{
    height: 100%;
    overflow-y: scroll;
}

.home{
    margin-top: 2rem;
    height: 100%;


    &-header{
        width: 50%;

        &-title{
            margin-top: 1.5rem;
            line-height: 80%;
            padding-bottom:1rem;
        }

        &-content{
            margin-top: 2rem;
        }
    }

    &-button{
        margin-top: 2rem;

    }

    &-content{
        margin-top: 3rem;
        width: 80%;
        border-radius: $border-radius-rounder !important;   //safari
    }

    &-login-link{
        margin-top: 1rem;
    }
}

.carousel-image{
    img{
        height:400px;
        object-fit: cover;
        border-radius: $border-radius-rounder !important; //safari
    }
    
}

.carousel{
    border-radius: $border-radius-rounder !important;
}

.carousel-slider{
    border-radius: $border-radius-rounder !important;
}
.thumbs-wrapper{
    display: none;
}

@media (max-width: $media-breakpoint-width-laptop){
    .home{
        &-header{
            width: 80%;
        }
    }
}
@media (max-width: $media-breakpoint-width-tablet-medium){
    .home{
        justify-content: flex-end;
        margin-top: 5rem;
        padding-bottom: 2rem;
        &-header{
            width: 90%;
            &-title{
                color: $accent !important;
            }
        }
    }
}

@media (max-height: $media-breakpoint-width-tablet-small){
    .home{
        justify-content: flex-end;
        margin-top: 10rem;
        padding-bottom: 2rem;
    }
}