
@import '../../assets/styles/shared';

.card{
    width: 18rem;
    height: 25rem;
    padding: 0 !important;
    transition: 0.3s;
    margin-left: 1rem!important;
    margin-right: 1rem!important;
    cursor: pointer;


    &-header{

        &-img{
            width:18rem;
            height: 13rem;
            border-radius: $border-radius-standard $border-radius-standard 0px 0px;

        }
    }

    &-body{

        &-description{
            width: 85%;
            font-size: 1.1rem;
        }

        &-container{
            height: 100%;
        }
    }

    &-footer{
        margin-right: .5rem;
        align-items: flex-end;
        justify-content: flex-end;
    }
}


.card:hover{
    transform: scale(1.1);
    $box-shadow-light:
2.8px 3.5px 5.3px rgba(0, 0, 0, 0.14),
9.4px 11.6px 17.9px rgba(0, 0, 0, 0.1),
42px 52px 80px rgba(0, 0, 0, 0.1)
;
}