@import '../../assets/styles/shared';

.saved-meals{
    height: 100%;

    &-container{
        width: 95%!important;
        height: 700px;
        overflow-y: scroll;

        &-items{
            margin-top: 4rem;

        }

 

        
    }
}