@import '../../assets/styles/shared';


.header{
    position: fixed;
    top: 0;
    width: 100%;
    font-weight: 400;

    &-left{
        margin: 2rem;
        margin-left: 5rem;
    }

    &-right{
        width: 50%;
        margin: 2rem;

        &-auth{
            width: 100%;
        }

        &-mobile{
            display: none;
        }
        
    }

    &-navbar-content{
        display:flex;
        flex-direction: column;
        margin-right: 0rem;
        width: 100%;
        &-item{
            margin-top: .7rem;

            &-label{
                margin-right: .5rem !important;
            }
        }

    }

    &-logo-image{
        display: none;
        img{
            width: 3rem;
            height:3rem;
        }
        margin-right: 1rem;
    }

}

#header-logo{
    width: 10rem;
}

@media (max-height: $media-breakpoint-height-750px) {
    
}



@media (max-width: $media-breakpoint-width-laptop) {
    .header{
        justify-content: space-around !important;
        
        &-left{
            margin-left:0;
        }

        &-right{
            width: 60%;
        }
    }
}

@media (max-width: $media-breakpoint-width-tablet-large) {
    .header{
        justify-content: space-around !important;

        &-left{
            margin-left:0;
        }

        &-right{
            //width: 70%;
        }
    }
}

@media (max-width: $media-breakpoint-width-tablet-small) {

    #header-logo{
        width: 8rem;
    }

    .header{

        &-right{
            width: 65%;
        }
    }
}

@media (max-width: $media-breakpoint-width-phone-extra-large) {

    #header-logo{
        width: 6rem;
    }

    .header{

        &-left{
            margin-right:1rem;
        }

        &-right{
            margin-left: 0;
            width: 70%;
            margin-right: 0;
        }
    }
}

@media (max-width: $media-breakpoint-width-phone-large) {

    #header-logo{
        width: 5rem;
        // display: none;
    }


    .header{
        justify-content: space-between;
        align-items: center;
        overflow-x: hidden;


        &-logo-image{
            // display: block;
            img{
                width: 2rem;
                height:2rem;
            }

        }

        &-left{
            margin-left: 2rem;
        }

        &-right{
            justify-content: flex-end !important; 
            align-items: center !important;

            &-auth{
                display: none!important;
            }

            &-mobile{
                // background-color: $accent;
                padding: 5px;
                padding-right: 35px;
                padding-bottom: 3px;
                border-radius: 15px;
                //box-shadow: $box-shadow-light;
                display: block;
                margin-right: -1rem;
                margin-top: -1rem;
                z-index: 10001;
                img{
                    width:2rem;
                }
            }
        }


    }
}

