@import '../../assets/styles/shared';

.my-profile{
    overflow-y: scroll;
    height: 100%;

    &-container{
        width: 90% !important;
    }

}

.profile{
    width: 100%;

    &-info{
        width: 210px;
    }

    margin-top: 1rem;
    margin-bottom: 1rem;
}


.save-container{
    width: 100%;
}

.save-button{
    margin-top: 2rem;
    width: 100%;
}

// @media (max-width: 1190px){
//     .my-profile{
//         &-container{
//             margin-top: 31rem !important;
//         }
//     }
// }

// @media (max-width: 768px){
//     .my-profile{
//         &-container{
//             margin-top: 55rem !important;
//         }
//     }
// }