@import '../../../assets/styles/shared';

.register-page{
    height: 100%;

    
    &-body{
        height: 100%;
    }

    &-graphics{
        margin-left: 20rem;

        &-text{
            margin-top: 1rem;
        }
    }


}