@import '../../../assets/styles/shared';

.login-component{
    background-color: #fff;
    border-radius: $border-radius-rounder;
    padding:2rem;
    margin-left: 3rem;
    box-shadow: $box-shadow-light;
    height: 100% !important;
    margin-top: 1rem;
    margin-bottom: -2rem;

    &-container{

        &-body{
            margin-top: 2.8rem;
            margin-bottom: 2.8rem;
        }

        &-bottom{
            margin-top: 2rem;
            color: $light-black;
            
            &-link{
                margin-left: .2rem;
            }
        }
    }

    &-mobile-label{
        margin-top: 1rem;
        margin-bottom: -1rem;
        font-size: 2.5rem !important;
        display: none;
    }



    &-header-title{
        margin-top:1rem;
        margin-bottom: -2rem;
    }

    &-footer-button{
        width: 100% !important;
    }

}

.mobile-illustration{
    display: none !important;
}


@media (max-height: $media-breakpoint-height-750px) {
    .login-component{
        // &-logo{
        //     display:none;
        // }
    }
}

@media (max-width: $media-breakpoint-width-tablet-large) {
    .login-component{
        margin-left: 0px;
    }
}

@media (max-width: $media-breakpoint-width-phone-large){
    .login-component{
        box-shadow: none!important;
        display: flex;;
        justify-content: flex-end !important;
        height: 100% !important;

        &-mobile-label{
            display: block;
        }

        &-logo{
            display: flex;
            justify-content: center;
            align-items: center;
            img{
                width:50%;
            }
        }

        .mobile-illustration{
            display: block !important;

        }

        .logo-rounded{
            display: none;
        }

        &-bottom-link{
            margin-bottom: -3rem !important;
        }

    }    
}

@media (max-width: $media-breakpoint-width-phone-medium){
    .login-component{
        &-logo{
            img{
                width: 80%;
            }
        }

        &-bottom-link{
            margin-top: 0rem !important;
            margin-bottom: 0rem !important;
        }
    }
}






@media (max-height: 700px){
    .login-component{

        &-logo{
            img{
                width: 60%;
                margin-bottom: -1rem;
            }
        }

        &-mobile-label{
            font-size: 2.3rem !important;
        }

        &-cta{
            width: 100% !important;
            margin-top: -.5rem !important;
        }

        &-bottom-link{
            margin-top: 0.5rem !important;
            margin-bottom: 0rem !important;
        }

    }
    
}