@import '../../../assets/styles/shared';

.login-component{
    background-color: $light-grey;
    border-radius: $border-radius-rounder;
    padding:2rem;
    margin-left: 3rem;
    box-shadow: $box-shadow-light;
;

    &-container-body{
        margin-top: 2.8rem;
        margin-bottom: 2.8rem;
    }


    
}