@import '../../assets/styles/shared';

.meal-plan-page{
    overflow-x: hidden;
    overflow-y: scroll!important;
    height: 100%;

    &-container{
        height: 100%;
    }

    &-graphics{
        margin-left: 20rem;

        img{
            display: none;
        }
    }

}

@media (max-height: $media-breakpoint-height-900px) {
    .meal-plan-page-graphics{
        
        img{
            width:600px;
        }

    }
}

@media (max-height: $media-breakpoint-height-835px) {
    .meal-plan-page-graphics{
        
        img{
            width:550px;
        }

    }
}




@media (max-width: $media-breakpoint-width-laptop) {
    .meal-plan-page-graphics {
        margin-left:0 ;
    }
}

@media (max-width: $media-breakpoint-width-tablet-large) {
    .meal-plan-page-graphics {
        margin-left:0 ;
        img{
            width: 550px;
        }
    }
}
 
@media (max-width: $media-breakpoint-width-tablet-medium) {
    .meal-plan-page-container{
        flex-direction: column!important;
        justify-content: flex-start !important;;
    }

    .meal-plan-page-graphics {
        display:none;
    }

    .meal-plan-page{

        &-form{
            margin-top:6rem;
            height: 100%;
        }

        &-result{
            margin-top:-2rem;
            flex-direction: column-reverse!important;
    
            &-container{
                margin-top:2rem;
                flex-direction: column!important;
            
                &-recipe{
                    margin-top:1rem;
                    margin-bottom: 1rem;
                }

            }
        }
    }

}

@media (max-width: $media-breakpoint-width-phone-large){
        .meal-plan-page{
            &-form{
            }

    }
}
