@import '../../assets/styles/shared';

.meal-plan-page{
    height: 100%;

    &-graphics{
        margin-left: 20rem;
    }
}

.meal-switcher{
    margin-top: 5rem;
    width: 70%;
    background-color:white;
    box-shadow: $box-shadow-light;
}